[build]
builder = "NIXPACKS"

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "gemini-trading-bot"
source = "."

[services.variables]
PYTHON_VERSION = "3.9"
